.bullets-wrapper
  .hero-blurb
    h2 Hi! My name is Christina. I'm a designer, illustrator, developer, and maker.
  ul.bullets
    li.bullet
      .bullet-content
        img(src="../assets/portrait1.jpg")
    li.bullet
      .bullet-content
        p
          | Whether I am translating big concepts into approachable illustrations, evaluating design strategy, or providing hand-coded solutions, my work is informed by a background in studio art and a passion for discovery and exploration.
    li.bullet
      .bullet-content
        p
          | When I'm not in front of a monitor, I try to continue drawing and painting in my home studio. On weekends I can be seen cooking, drinking good beer, working on my latest personal project, or chilling with my dog.
