footer
  a(name='contact')
  .social
    h2 Let's stay in touch!
    ul
      li
        a#email(href='mailto:christinamday@gmail.com') Email
      li#twitter
        a(href='http://twitter.com/christinaday') Twitter
      li#github
        a(href='http://github.com/ChristinaDay') GitHub
      li#tumblr
        a(href='http://neonmoment.tumblr.com') Tumblr
      li#facebook
        a(href='http://www.facebook.com/christinamarieday') Facebook
      li#linkedin
        a(href='http://www.linkedin.com/in/christinaday/') LinkedIn
      li#behance
        a(href='http://www.behance.net/christinaday') Behance
      li#flickr
        a(href='http://www.flickr.com/photos/christinaday/sets') Flickr
    p
      | Designed and Developed by © Christina Day, 2015
      br
      | View this project on
      a(href='https://github.com/ChristinaDay/portfolio-refresh') GitHub!


