head
  block title
    title christina marie day.
  meta(name="viewport", content="width=device-width, initial-scale=1")
  script(src='https://use.typekit.net/pgp5brb.js')
  script.
    try{Typekit.load({ async: true });}catch(e){}
  link(rel='stylesheet', type='text/css', href='./normalize.css')
  link(rel='stylesheet', type='text/css', href='./main.css')
  script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js')
  script(type='text/javascript', src='./main.js')
