header.centered-navigation(role='banner')
      .centered-navigation-wrapper
        a.mobile-logo(href='/')
          | C
          span •
          | D
        nav(role='navigation')
          ul#js-centered-navigation-menu.centered-navigation-menu.show
            li.nav-link.logo
              a.logo.large-logo(href='/')
                | Christina
                span Marie
                | Day


