.grid-items
  a.grid-item.grid-item-big.grid-item-image-8(href='./anyperk.html')
  a.grid-item.grid-item-image-1(href='./hobbyicons.html')
  a.grid-item.grid-item-image-5(href='./rocket.html')
  a.grid-item.grid-item-image-4(href='./hobbyicons.html#daruma')
  a.grid-item.grid-item-image-3(href='./atxnerdyladies.html')
  a.grid-item.grid-item-big.grid-item-image-7(href='./makersquare.html')
  a.grid-item.grid-item-big.grid-item-image-6(href='./bonsai.html')
  a.grid-item.grid-item-image-9(href='./kome.html')
  a.grid-item.grid-item-image-10(href='./hobbyicons.html#ramen')


