.grid-items
  a.grid-item.grid-item-big.grid-item-image-8(href='./anyperk.html')
    .description
      h2 AnyPerk
      h3 Illustration, Icon Design, Web Design, Development
  a.grid-item.grid-item-image-3(href='./atxnerdyladies.html')
    .description
      h2 ATX Nerdy Ladies
      h3 Illustration, Web Design
  a.grid-item.grid-item-image-1(href='./icons.html')
    .description
      h2 Hobby Icons
      h3 Illustration, Iconn Design
  a.grid-item.grid-item-image-4(href='./cakeday.html')
    .description
      h2 CakeDay
      h3 Illustration, Icon Design
  a.grid-item.grid-item-image-5(href='./blogtemplate.html')
    .description
      h2 Blog Article Template
      h3 Illustration, Web Design, Development
  a.grid-item.grid-item-big.grid-item-image-6(href='./bonsai.html')
    .description
      h2 Bonsai
      h3 Illustration, Web Design
  a.grid-item.grid-item-big.grid-item-image-7(href='./makersquare.html')
    .description
      h2 MakerSquare
      h3 Branding, Logo Design, Illustration
  a.grid-item.grid-item-image-4(href='./cakeday.html')
    .description
      h2 CakeDay
      h3 Illustration, Icon Design
  a.grid-item.grid-item-image-5(href='./blogtemplate.html')
    .description
      h2 Blog Article Template
      h3 Illustration, Web Design, Development

