.bullets-wrapper
  ul.bullets
    li.bullet
      .bullet-content
        img(src="../assets/portrait3.jpg")
    li.bullet
      .bullet-content
        h2 Another Bullet Title
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.
    li.bullet
      .bullet-content
        h2 Last Bullet Title
        p
          | Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.
