.grid-items
  .modal
    label(for='modal-1')
      a.grid-item.modal-trigger.grid-item-big.grid-item-image-1
    input#modal-1.modal-input.modal-state(type='checkbox')
    .modal-fade-screen
      .modal-inner
        .modal-close(for='modal-1')
        h1 Modal Number One
        p.modal-intro
          | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
        p.modal-content
          | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
  .modal
    label(for='modal-2')
      a.grid-item.modal-trigger.grid-item-image-2
    input#modal-2.modal-input.modal-state(type='checkbox')
    .modal-fade-screen
      .modal-inner
        .modal-close(for='modal-2')
        h1 Modal Number Two
        p.modal-intro
          | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
        p.modal-content
          | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
  .modal
    label(for='modal-3')
      a.grid-item.modal-trigger.grid-item-image-3
    input#modal-3.modal-input.modal-state(type='checkbox')
    .modal-fade-screen
      .modal-inner
        .modal-close(for='modal-3')
        h1 Modal Number 3
        p.modal-intro
          | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
        p.modal-content
          | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
  .modal
    label(for='modal-4')
      a.grid-item.modal-trigger.grid-item-image-4
    input#modal-4.modal-input.modal-state(type='checkbox')
    .modal-fade-screen
      .modal-inner
        .modal-close(for='modal-4')
        h1 Modal Number 4
        p.modal-intro
          | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
        p.modal-content
          | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
  .modal
      label(for='modal-5')
        a.grid-item.modal-trigger.grid-item-image-5
      input#modal-5.modal-input.modal-state(type='checkbox')
      .modal-fade-screen
        .modal-inner
          .modal-close(for='modal-5')
          h1 Modal Number 5
          p.modal-intro
            | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
          p.modal-content
            | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
  .modal
      label(for='modal-6')
        a.grid-item.modal-trigger.grid-item-image-6
      input#modal-6.modal-input.modal-state(type='checkbox')
      .modal-fade-screen
        .modal-inner
          .modal-close(for='modal-6')
          h1 Modal Number 6
          p.modal-intro
            | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
          p.modal-content
            | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
  .modal
      label(for='modal-7')
        a.grid-item.modal-trigger.grid-item-big.grid-item-image-7
      input#modal-7.modal-input.modal-state(type='checkbox')
      .modal-fade-screen
        .modal-inner
          .modal-close(for='modal-7')
          h1 Modal Number 7
          p.modal-intro
            | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
          p.modal-content
            | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.

