.grid-items
  .modal
    label(for='modal-1')
      a.grid-item.modal-trigger
    input#modal-1.modal-state(type='checkbox')
    .modal-fade-screen
      .modal-inner
        .modal-close(for='modal-1')
        h1 Modal Title
        p.modal-intro
          | Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.
        p.modal-content
          | Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.
  a.grid-item.grid-item-big.grid-item-image(href='javascript:void(0)')
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png', alt='')
    h1 Grid Item With an Image
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  a.grid-item.grid-item-big(href='javascript:void(0)')
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png', alt='')
    h1 Another Wide Item
    p

      | Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.
  a.grid-item(href='javascript:void(0)')
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png', alt='')
    h1 Last Grid Item
    p Lorem ipsum dolor sit amet, elit. Rem, illum.
  a.grid-item(href='javascript:void(0)')
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png', alt='')
    h1 Last Grid Item
    p Lorem ipsum dolor sit amet, elit. Rem, illum.
  a.grid-item(href='javascript:void(0)')
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png', alt='')
    h1 A Grid Item
    p Lorem ipsum dolor sit amet, elit. Rem, illum.
  a.grid-item(href='javascript:void(0)')
    img(src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png', alt='')
    h1 Item
    p Lorem ipsum dolor sit amet, elit. Rem, illum.

