doctype html
html(lang="en")
  include ../components/_head.jade
  body
    include ../components/_main-nav.jade
    include ../components/_scrolling-bg-container.jade
    include ../components/_showcase.jade

    block content

    include ../components/_footer.jade

