doctype html
html(lang="en")
  include ../components/head.jade
  body
    include ../components/main-nav.jade
    include ../components/scrolling-bg-container.jade
    include ../components/showcase.jade

    block content

    include ../components/footer.jade

