doctype html
html(lang="en")
  include ../components/head.jade
  body
    include ../components/main-nav.jade
    //- include ../components/hero.jade
    include ../components/showcase.jade
    include ../components/about.jade

    block content

    include ../components/footer.jade

