footer {
  background: #3B3852;
  min-height: 100px;
  padding: 3%;


  p {
    font-size: 9px;
    text-transform: uppercase;
    color: #8D8AA7;
  }

  a {
    color: $heading-color;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin-left: 3px;
  }

  .social {

    ul {
      list-style: none;

      li {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
      }

      a {
        display: inline-block;
        color: transparent;
        width: 35px;
        height: 35px;
        margin-left: 0;
      }

      #email {
        background-image: url(../assets/email-icon.svg);
      }

      #twitter {
        background-image: url(../assets/twitter-icon.svg);
      }

      #github {
        background-image: url(../assets/github-icon.svg);
      }

      #tumblr {
        background-image: url(../assets/tumblr-icon.svg);
      }

      #facebook {
        background-image: url(../assets/facebook-icon.svg);
      }

      #linkedin {
        background-image: url(../assets/linkedin-icon.svg);
      }

      #behance {
        background-image: url(../assets/behance-icon.svg);
      }

      #flickr {
        background-image: url(../assets/flickr-icon.svg);
      }

    } //end ul
  } //end .social
} //end footer
