@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

$medium-screen: em(640) !default;
$large-screen: em(860) !default;
$base-font-color: rgba(128, 124, 158, 1);
$secondary-heading-color: rgba(128, 124, 158, 0.7);



.project-container {
  @include outer-container;
  padding: 10px 0 70px 0;
  text-align: center;
}

.image-container {

  img {
    margin-bottom: 50px;
    max-width: 1000px;
  }
  .img-med {
    // @include span-columns(6);
    // @include shift(3);
  }
  .img-sm {
    max-width: 600px;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
}

h3 {
  font-family: "proxima-nova","helvetica", sans-serif;
  color: $secondary-heading-color;
  margin-bottom: 50px;
}

p {
  margin-bottom: 70px;
  line-height: 1.5;
}

a {
  color: $base-font-color;
  font-weight: bold;
  text-decoration: none;
}

.sub-nav-container {
  @include outer-container;
  a {
    font-weight: normal;
    font-size: .75em;
  }

  li {
    list-style: none;
  }
  .sub-navPrevious, .sub-navNext {
    display: inline-block;
  }
  .sub-navBack {
    float: left;
  }
  .sub-nav-projects {
    float: right;
  }

}

