$parallax-window-height: 100%;
$parallax-background-height: $parallax-window-height * 2;
$parallax-background-color: #fff;
$parallax-background-image: url("../assets/hero-pattern.png") repeat;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.parallax-static-content {
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: $parallax-background-image;
  background-position: top;
  background-size: cover;
  background-color: $parallax-background-color;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
  opacity: 0.6;
}


