// Edit Grid Item Images Here
$grid-item-image-1: url("../assets/icons-midcentury-furniture-sm.jpg");
$grid-item-image-1-2: url("../assets/icons-midcentury-furniture-sm-mobile.jpg");
$grid-item-image-2: url("../assets/icon-daruma.png");
$grid-item-image-3: url("../assets/atxnerdyladies-sm.jpg");
$grid-item-image-3-2: url("../assets/atxnerdyladies-sm-mobile.jpg");
$grid-item-image-4: url("../assets/icon-daruma-sm.jpg");
$grid-item-image-5: url("../assets/rocket-hero-sm.jpg");
$grid-item-image-5-2: url("../assets/rocket-hero-sm-mobile.jpg");
$grid-item-image-6: url("../assets/bonsai-sm.jpg");
$grid-item-image-6-2: url("../assets/bonsai-sm-mobile.jpg");
$grid-item-image-7: url("../assets/makersquare-sm.jpg");
$grid-item-image-7-2: url("../assets/makersquare-sm-mobile.jpg");
$grid-item-image-8: url("../assets/anyperk-sm.jpg");
$grid-item-image-8-2: url("../assets/anyperk-sm-mobile.jpg");
$grid-item-image-9: url("../assets/kome-sm.jpg");
$grid-item-image-9-2: url("../assets/kome-menuicons-sm-mobile.jpg");
$grid-item-image-10: url("../assets/icon-ramen-sm.jpg");
$grid-item-image-11: url("../assets/navya-sm.jpg");


// End Edit Grid Item Images

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  @include outer-container;
  $action-color: #477DCA !default;
  $base-background-color: white !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-background: desaturate($action-color, 30%);
  $grid-item-colors:
    desaturate($action-color, 30%),
    #3581A5,
    #5FBEBE,
    #98C79A,
    #A7A891,
    #BDCC97,
    #979EA0;
  $grid-item-border-size: 9px;
  $grid-item-columns: 3;
  $grid-item-big-columns: 6;
  $grid-item-color: white;
  $grid-item-height: 18em;
  border-top: $grid-item-border-size solid $grid-items-background;


  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0px 0px 1px 2px #ededed;
      }
    }
  }

  .grid-item img {
    display: block;
    height: 3em;
    margin: 0 auto 1em;
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }

  .grid-item h2, h3 {
    color:$grid-item-color;
  }

  .grid-item p {
    color: transparentize($grid-item-color, 0.3);
    line-height: 1.5em;
    margin: auto;

    @include media($medium-screen) {
      max-width: 70%;
    }
  }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
  }

// Grid Item Images
  .grid-item-image-1 {
    background: $grid-item-image-1-2;
    @include media($large-screen) {
      background: $grid-item-image-1;
    }
  }
   .grid-item-image-2 {
    background: $grid-item-image-2;
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
   .grid-item-image-3 {
    background: $grid-item-image-3-2;
    @include media($large-screen) {
      background: $grid-item-image-3;
    }
  }
   .grid-item-image-4 {
    background: $grid-item-image-4;
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
   .grid-item-image-5 {
    background: $grid-item-image-5-2;
    @include media($large-screen) {
      background: $grid-item-image-5;
    }
  }
   .grid-item-image-6 {
    background: $grid-item-image-6;
  }
   .grid-item-image-7 {
    background: $grid-item-image-7-2;
    @include media($large-screen) {
      background: $grid-item-image-7;
    }
  }
  .grid-item-image-8 {
    background: $grid-item-image-8-2;
    @include media($large-screen) {
      background: $grid-item-image-8;
    }
  }
  .grid-item-image-9 {
    background: $grid-item-image-9-2;
    box-shadow: inset 0px 0px 1px 2px #ededed;
    @include media($large-screen) {
      background: $grid-item-image-9;
      box-shadow: inset 0px 0px 1px 2px #ededed;
    }
  }
  .grid-item-image-10 {
    background: $grid-item-image-10;
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
  .grid-item-image-11 {
    background: $grid-item-image-11;
    box-shadow: inset 0px 0px 1px 2px #ededed;
  }
// End Grid Item Images

.description {
  display: none;
}
}

