$alert: #f00;
$warn: #ffa500;
$notice: #ffff00;
$background: #fff;
$text-normal: #807c9e;
$heading-color: #f78373;

//layout
$module-padding: 50px 0 70px 0;
$horizontal-rule-color: #ccc;
$horizontal-rule-border: 1px dotted $horizontal-rule-color;
