@import 'bourbon';
@import 'neat';
@import 'variables';
@import 'typography';
@import 'main-nav';
@import 'scrolling-bg-container';
@import 'showcase';
@import 'about';
@import 'project';
@import 'footer';



body {
  background-color: $background;
  color: $text-normal;
  margin: 0;
}


hr {
  width: 85%;
  border-top: $horizontal-rule-border;
}


.overlay {
  $image-gradient-color-top: white;
  $transparency-top: 0.6;
  $image-gradient-color-bottom: transparent;
  $transparency-bottom: 0.94;
  $vertical-angle: -45deg;
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-bottom, $transparency-bottom),
      transparentize($image-gradient-color-top, $transparency-top));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);
}
