extends ./layouts/_project.jade

block title
  title Christina M. Day | AnyPerk

block content
  .project-container
    h2 AnyPerk
    h3 Illustration, Icon Design, Web Design, Photography, Development
    p
      | As a designer at AnyPerk, I provided illustrations and collateral while also designing, developing, and maintaining our company's marketing website,
      a(href='#')  AnyPerk.com.
      |  AnyPerk partners with companies to provide hundreds of great perks and discounts for their employees, helping them create a rewarding work environment.
    .image-container
      img(src="../assets/ap_illustrations_perks.png")
      img(src="../assets/ap_composite_icons.png")
      img.img-sm(src="../assets/ap_web_home.png")
      img.img-sm(src="../assets/ap_web_features.png")
