extends ./layouts/_project.jade

block title
  title Christina M. Day | AnyPerk

block content
  .project-container
    h2 AnyPerk
    h3 Illustration, Icon Design, Web Design, Development
    p
      a(href="anyperk.com") AnyPerk.com
    .image-container
      img(src="../assets/ap_illustrations_perks.png")
      img(src="../assets/ap_composite_icons.png")
      img(src="../assets/ap_web_home.png")
      img(src="../assets/ap_web_features.png")
