extends ./layouts/_project.jade

block title
  title Christina M. Day | ATXNerdyLadies

block content
  .sub-nav-container
    ul.sub-navBack
      li
        a(href="./index.html") Home
    ul.sub-nav-projects
      li.sub-navPrevious
        a(href="./rocket.html")  Previous Project
      li.sub-navNext
        a(href="./makersquare.html")  / Next Project
  .project-container
    h2 ATX Nerdy Ladies
    h3 Illustration, Web Design
    p
      | I had the privilege of collaborating with the likes of designer/developer
      a(href='https://twitter.com/elyseholladay')  Elyse Holladay
      | , letterer/logist
      a(href='https://twitter.com/haleymcmichael')  Haley McMichael
      | , and the lovely
      a(href='https://twitter.com/cecycorrea')  Cecy Correa
      |  to create this website that brings nerdy Austin ladies together for learning and empowerment. Check it out at
      a(href='http://www.atxnerdyladi.es')  www.atxnerdyladi.es.
    .image-container
      img.img-med(src="../assets/atxnerdyladies.png")
      img.img-med(src="../assets/atxnerdyladies-hero.png")






