extends ./layouts/_project.jade

block title
  title Christina M. Day | ATXNerdyLadies

block content
  .project-container
    h2 ATX Nerdy Ladies
    h3 Illustration, Web Design
    .image-container
      img.img-med(src="../assets/atxnerdyladies.png")
      img.img-med(src="../assets/atxnerdyladies-hero.png")






