extends ./layouts/_project.jade

block title
  title Christina M. Day | Blog Article Template

block content
  .project-container
    h2 Blog Article Template
    h3 Illustration, Web Design, Development
    .image-container
      img.img-med(src="../assets/Blog-Article-Prototype-Mockup-med.jpg")
      img.img-sm(src="../assets/Blog-Article-Prototype-Mobile-Mockup.jpg")
