extends ./layouts/_project.jade

block title
  title Christina M. Day | Bonsai.io

block content
  .project-container
    h2 Bonsai.io
    h3 Illustration, Web Design
    p
      a(href="https://bonsai.io") Bonsai.io
    .image-container
      img.img-med(src="../assets/bonsai-home.jpg")
      img.img-med(src="../assets/bonsai-pricingplans2.jpg")
      img.img-med(src="../assets/bonsai-tools1.jpg")
      img.img-med(src="../assets/bonsai-pricingplans2.jpg")
      img.img-med(src="../assets/bonsai-home2.jpg")
      img.img-med(src="../assets/bonsai-pricingplans.jpg")
      img.img-med(src="../assets/bonsai-trees1.jpg")

