extends ./layouts/_project.jade

block title
  title Christina M. Day | Bonsai

block content
  .project-container
    h2 Bonsai
    h3 Illustration, Web Design
    .image-container
      img.img-med(src="../assets/bonsai-home.jpg")
      img.img-med(src="../assets/bonsai-pricingplans2.jpg")
      img.img-med(src="../assets/bonsai-tools1.jpg")
      img.img-med(src="../assets/bonsai-pricingplans2.jpg")
      img.img-med(src="../assets/bonsai-home2.jpg")
      img.img-med(src="../assets/bonsai-pricingplans.jpg")
      img.img-med(src="../assets/bonsai-trees1.jpg")

