extends ./layouts/_project.jade

block title
  title Christina M. Day | Bonsai

block content
  .project-container
    h2 Bonsai
    h3 Illustration, Web Designasdf
    .image-container
      img(src="../assets/bonsai-pricingplans.jpg")
      img(src="../assets/ap_composite_icons.png")
      img(src="../assets/ap_web_home.png")
      img(src="../assets/ap_web_features.png")
