extends ./layouts/_project.jade

block title
  title Christina M. Day | Bonsai.io

block content
  .sub-nav-container
    ul.sub-navBack
      li
        a(href="./index.html") Home
    ul.sub-nav-projects
      li.sub-navPrevious
        a(href="./makersquare.html")  Previous Project
      li.sub-navNext
        a(href="./kome.html")  / Next Project
  .project-container
    h2 Bonsai.io
    h3 Illustration, Web Design
    p
      | Bonsai is a Heroku-based, managed integration of Elastisearch. I assisted with branding, illustration, and website redesign. More at
      a(href="https://bonsai.io")  Bonsai.io.
    .image-container
      img.img-med(src="../assets/bonsai-home.jpg")
      img.img-med(src="../assets/bonsai-pricingplans2.jpg")
      img.img-med(src="../assets/bonsai-tools1.jpg")
      img.img-med(src="../assets/bonsai-pricingplans2.jpg")
      img.img-med(src="../assets/bonsai-home2.jpg")
      img.img-med(src="../assets/bonsai-pricingplans.jpg")
      img.img-med(src="../assets/bonsai-trees1.jpg")

