extends ./layouts/_project.jade

block title
  title Christina M. Day | Hobby Icons

block content
  .project-container
    h2 Hobby Icons
    h3 Illustration, Icon Design
    .image-container
      img(src="../assets/icons-midcentury-furniture.png")
      img(src="../assets/icon-ramen.png")
      img(src="../assets/icon-daruma.png")
      img(src="../assets/icon-leglamp.png")
      img(src="../assets/icon-pizzaface.png")
      img(src="../assets/icon-cupcake.png")
      img(src="../assets/icon-popcicle.png")
      img(src="../assets/icon-rayguns.png")
      img(src="../assets/icon-robots.png")
      img(src="../assets/icon-icecreams.png")
      img(src="../assets/icons-academic.png")

