extends ./layouts/_project.jade

block title
  title Christina M. Day | Komé Sushi Kitchen

block content
  .project-container
    h2 Komé Sushi Kitchen
    h3 Illustration, Graphic Design
    p
      a(href="http://www.kome-austin.com") Kome-Austin.com
    .image-container
      img(src="../assets/kome-menu-display.jpg")
      img(src="../assets/kome-happyhour.jpg")



