extends ./layouts/_project.jade

block title
  title Christina M. Day | Komé Sushi Kitchen

block content
  .sub-nav-container
    ul.sub-navBack
      li
        a(href="/") Home
    ul.sub-nav-projects
      li.sub-navPrevious
        a(href="./bonsai.html")  Previous Project
  .project-container
    h2 Komé Sushi Kitchen
    h3 Illustration, Graphic Design
    p
      | Komé is a sushi kitchen and izakaya located on Austin TX's upcoming Airport Blvd. With custom illustrations and hand-drawn lettering, I redesigned several key menus for this establishment.
      | More at
      a(href="http://www.kome-austin.com")  Kome-Austin.com.
    .image-container
      img(src="../assets/kome-menu-display.jpg")
      img(src="../assets/kome-happyhour.jpg")



