extends ./layouts/_project.jade

block title
  title Christina M. Day | MakerSquare

block content
  .sub-nav-container
    ul.sub-navBack
      li
        a(href="/") Home
    ul.sub-nav-projects
      li.sub-navPrevious
        a(href="./atxnerdyladies.html")  Previous Project
      li.sub-navNext
        a(href="./bonsai.html")  / Next Project
  .project-container
    h2 MakerSquare
    h3 Logo Design, Branding, Illustration
    p
      | MakerSquare is a coding bootcamp that was aquired by
      a(href="www.hackreactor.com")  Hack Reactor
      |  last year. I crafted MakerSquare’s branding as their Lead Designer in both Austin and San Francisco. In this role I developed their logo, designed and built the interior wall installations for their San Francisco location, developed a branding update and style guide in conjunction with the marketing team, crafted numerous fliers, business cards, letterheads and banners for the business and was involved critically in most design choices the company has made since its inception.
      | More at
      a(href="www.makersquare.com")  MakerSquare.com.
    .image-container
      img(src="../assets/mks-logo.png")
      img(src="../assets/mks-logotype-bluebg.jpg")
      .image-with-caption
        img(src="../assets/mks-sign-congress.jpg")
        p The MakerSquare sign on Congress Avenue, Austin Texas (featuring our old wordmark)
      .image-with-caption
        img(src="../assets/pixel-people.png")
        p Pixel people illustration for an internal project
      img.img-med(src="../assets/hatch-banner.jpg")
      .image-with-caption
        img(src="../assets/hatch-banner.png")
        p Imagery for Hatch, a program sponsored by MakerSquare aimed at exposing kids to develoment through an after-school program



