extends ./layouts/_project.jade

block title
  title Christina M. Day | MakerSquare

block content
  .project-container
    h2 MakerSquare
    h3 Logo Design, Branding, Illustration
    p
      a(href="www.makersquare.com") MakerSquare.com
    .image-container
      img(src="../assets/mks-logo.png")
      img(src="../assets/mks-logotype-bluebg.jpg")
      .image-with-caption
        img(src="../assets/mks-sign-congress.jpg")
        p The MakerSquare sign on Congress Avenue, Austin Texas (featuring our old wordmark)
      .image-with-caption
        img(src="../assets/pixel-people.png")
        p Pixel people illustration for an internal project
      img.img-med(src="../assets/hatch-banner.jpg")
      .image-with-caption
        img(src="../assets/hatch-banner.png")
        p Imagery for Hatch, a program sponsored by MakerSquare aimed at exposing kids to develoment through an after-school program



