extends ./layouts/_project.jade

block title
  title Christina M. Day | Navya Skincare Studio

block content
  .sub-nav-container
    ul.sub-navBack
      li
        a(href="/") Home
    ul.sub-nav-projects
      li.sub-navPrevious
        a(href="./hobbyicons.html")  Previous Project
  .project-container
    h2 Navya Skincare Studio
    h3 Brainding, logo design, Web Design, Development
    p
     | I worked as Art and Branding Director for Navya, a skin care studio located on trendy East 6th Street. Working with Navya, I led the effort in creating branding for the company, including developing a new logo design, custom branding, coordinating the creation of their storefront signage and a custom website design.
     | More at
     a(href="www.navya-austin.com")  www.navya-austin.com.
    .image-container
      img(src="../assets/navya-composit.jpeg")
      img(src="../assets/navya-web.png")


