extends ./layouts/_project.jade

block title
  title Christina M. Day | Rocket

block content
  .project-container
    h2 Rocket
    h3 Illustration, Web Design
    .image-container
      img(src="../assets/rocket-web-design.png")
      img(src="../assets/rocket-hero.jpg")
