extends ./layouts/_project.jade

block title
  title Christina M. Day | Rocket

block content
  .sub-nav-container
    ul.sub-navBack
      li
        a(href="./index.html") Home
    ul.sub-nav-projects
      li.sub-navPrevious
        a(href="./anyperk.html")  Previous Project
      li.sub-navNext
        a(href="./atxnerdyladies.html")  / Next Project
  .project-container
    h2 Rocket
    h3 Illustration, Web Design
    .image-container
      img(src="../assets/rocket-web-design.png")
      img(src="../assets/rocket-hero.jpg")
